body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh; /* Set the body height to 100vh for footer positioning */
  display: flex; /* Allow stacking footer on bottom */
  flex-direction: column; /* Stack footer at the bottom */
  background-color: aliceblue;
}

.registration-container {
  position: absolute; /* Make the login container positioned relative to the viewport */
  top: 45%; /* Center the container vertically */
  left: 50%; /* Center the container horizontally */
  transform: translate(
    -50%,
    -50%
  ); /* Offset the container to appear centered */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  padding: 2rem; /* Add some padding for login elements */
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  width: 600px;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.text {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

form {
  display: grid;
  margin-top: 15px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.name {
  grid-area: 1 / 1 / 2 / 2;
}
.email {
  grid-area: 1 / 2 / 2 / 3;
}
.pwd {
  grid-area: 2 / 1 / 3 / 2;
}
.department {
  grid-area: 2 / 2 / 3 / 3;
}
.reset {
  grid-area: 3 / 1 / 4 / 2;
}
.submit {
  grid-area: 3 / 2 / 4 / 3;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 5px;
  width: 235px;
}

input[type="password"],
input[type="department"] {
  margin-bottom: 10px;
}

button {
  padding: 0.75rem 1rem;
  background-color: #3282b8;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
  width: 250px;
}

.reset-btn {
  background-color: #d1d1d1bb;
  color: #000;
}

button:hover[type="submit"] {
  background-color: #245d83;
}

.redirect-text p {
  text-align: center;
}

.footer {
  position: absolute;
  top: 94.8%;
  width: 100%;
  color: #fff;
  text-align: center;
  height: 50px;
  background: rgb(15, 76, 117);
  background: linear-gradient(
    90deg,
    rgba(15, 76, 117, 1) 0%,
    rgba(105, 20, 20, 1) 100%
  );
}
